<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteFromXML" verbose="1" >

    <test name="MyTestFromXML" >
        <classes>
            <class name="day3.DiceTests">
                <methods>
                    <include name="test_skills_Center_negative" />
                </methods>
            </class>
        </classes>
    </test>
</suite>